{% extends 'base.html.twig' %}

{% block body %}
	<div class="container mt-5">
		<h1 class="mb-4">Toutes les Recettes</h1>

		<div class="list-group">
			{% for recipe in recipes %}
				<a href="{{ path('recipe_show', {'id': recipe.id}) }}" class="list-group-item list-group-item-action">
					<h5 class="mb-1">{{ recipe.name }}</h5>
					<p class="mb-1">Durée:
						{{ recipe.duration }}
						minutes</p>
					<small>{{ recipe.ingredients|length }}
						Ingrédients</small>
				</a>
			{% else %}
				<p class="text-muted">Aucune recette trouvée.</p>
			{% endfor %}
		</div>
	</div>
{% endblock %}
